/* This * section is to format browser */
*{
    margin: 0;
    box-sizing: border-box ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-wrap: wrap;
}

.header > menu {
    justify-content: space-between;
}

.menu >a {
    padding: 0px 10px;
    text-decoration: none;
    font-size: 14px;
}

.header {
    display: flex;
    /* flex-wrap: wrap; */
    font-size: 16px;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    gap: 30%;
}

.header >img {
    width: 100px;
}

.cta {
    background-color: #0085FF;
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}

.cta:hover {
    background-color: #fff;
    border: 1px solid #0085FF;
    color: #0085FF;
}
#fname{
    width: 100%;
    padding: 10px;
    resize: none;
}
.hero-session {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 100px;
    background-color: #0085FF;
}

.hero-session >img {
    padding: 0 10px;
    width: 450px;
    height: 500px;
}
.hero-p > h1 {
    margin-bottom: 40px;
}
.hero-p {
   align-content: center;
   font-size: 20px;
   text-align: center;
   color: #fff;
   width: 500px;
}

.hero-p >button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    margin-top: 30px;
}

.hero-p>button:hover {
    background-color: #fff;
    border: 1px solid #0085FF;
    color: #0085FF;
}

.cards {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding: 100px;
}

.heading {
    background-color: #828282;
    padding: 5px 5px;
    width: 300px;
    border-radius: 15px;
    color: white;
    margin: 12px;
}

.heading >h1 {
    font-size: 20px;
}

.heading >p {
    font-size: 16px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card-info {
    margin-top: 40px;
    text-align: center;
    align-items: center;
    padding: 12px 0px;
    background-color: rgb(55, 55, 55);
    border-radius: 30px;
    
}

.card-info >img {
    border-radius: 20px;
    width: 300px;
}

.card-info >p {
    font-size: 16px;
    background-color: #828282;
    padding: 5px 5px;
    width: 300px;
    border-radius: 15px;
    color: white;
    margin: 12px;
}

.card-info >button {
    font-size: 16px;
    margin-top: 24px;
    padding: 12px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 15px;
    align-content: center;
    border: none;
}

.card-info >button:hover {
    cursor: pointer;
    background-color: rgb(55, 55, 55);
    border: 1px solid white;
    color: white;
}

.biography {
    display: flex;
    gap: 64px;
    text-align: center;
    padding: 100px;
    justify-content: center;
    background-color: #f1f1f1;
}

.right >button {
    background-color: #0085FF;
    color: #fff;
    border: none;
    width: 100%;
    height: 40px;
    float: right;
    border-radius: 15px;
    margin-top: 10px;
}

.right >button:hover {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #0085FF;
    color: #0085FF;
}

.right >input {
    width: 100%;
    height: 60px;
}

.right {
    flex: 70%;
    padding: 20px;
    text-align: center;
}

.right >p {
    margin-top: 10px;
    margin-bottom: 80px;
}

#focus {
    margin-top: 30px;
    margin-bottom: 30px;
}

.userProfile >img {
    width: 220px;
    border-radius: 20px;
}

.icons >img  {
    width: 35px;
    padding: 0px 4px;
}